@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Elevated Experiences Event Planner</h1>
    
</div>
<div class="text-center">
<img src="/lib/Images/mainPagePicture.jpg" alt="Decorated Gazebo">
</div>
<div class="text-center">

 

<h2>Elevate your event planning today!</h2>
</div>
